*{
    box-sizing: border-box;
    --main-background: rgb(255, 255, 255);
    --main-font: #293845;
    --header-backgroud: #C3CFD9;
    --header-font: #E8833A;
}

body{
    background-color: var(--main-background);
    font-family: 'Roboto', sans-serif;
}

main{
    margin: 100px 0px;
}