*{
    box-sizing: border-box;
    
    /* Header */
    --header-backgroud: #C3CFD9;
    --header-font: #E8833A;

    /* All main */
    --main-background: rgb(255, 255, 255);
    --main-font: #293845;

    /* Session main*/
    --time-font: white;
    --time-button:  #E8833A;
    --time-button-hover: #da7a36;

    /* Seats main*/

    /* Footer */
    --footer-background: #E5E5E5;
    --footer-img: white;
    --footer-font: #293845;
}

body{
    background-color: var(--main-background);
    font-family: 'Roboto', sans-serif;
}

main{
    margin-top: 100px;
    margin-bottom: 120px;
}