/* .Seat button{
    width: 26px;
    height: 26px;
    background-color: blue;
    border-radius: 50%;
    margin: 5px;
}

.Seats h3{
    display: flex;
    justify-self: center;
    align-items: center;
}


.Seat .available{
    background-color: #808F9D;
}

.Seat .unavailable{
    background-color: #F7C52B;
}

.Seat .selected{
    background-color: #45BDB0;
} */

/* .Seat .seat{
    width: 26px;
    height: 26px;
    background-color: blue;
    border-radius: 50%;
    margin: 5px;
}

.Seat h3{
    display: flex;
    justify-self: center;
    align-items: center;
}

.Seat .seat.available{
    background-color: #808F9D;
}

.Seat .seat.unavailable{
    background-color: #F7C52B;
}

.Seat .selected{
    background-color: #45BDB0;
} */

